absl-py==2.1.0
altair==4.2.2
appnope
asttokens
astunparse==1.6.3
attrs==25.1.0
certifi==2025.1.31
charset-normalizer==3.4.1
cloudpickle
colorama
comm
contourpy==1.3.0
cycler==0.12.1
debugpy
decorator
entrypoints==0.4
exceptiongroup
executing
fastjsonschema==2.21.1
feedzai-altair-theme==1.1.3
flatbuffers==25.1.24
fonttools==4.55.8
gast==0.6.0
google-pasta==0.2.0
grpcio==1.70.0
h5py==3.12.1
idna==3.10
importlib_metadata
importlib_resources==6.5.2
ipykernel
ipython
ipywidgets==8.1.5
jedi
Jinja2==3.1.5
joblib
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyter_client
jupyter_core
jupyterlab_widgets==3.0.13
keras==3.8.0
kiwisolver==1.4.7
libclang==18.1.1
llvmlite==0.43.0
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==3.0.2
mat4py==0.6.0
matplotlib==3.9.4
matplotlib-inline
mdurl==0.1.2
ml-dtypes==0.4.1
namex==0.0.8
narwhals==1.25.0
nbformat==5.10.4
nest_asyncio
numba
numpy==1.23.5
opt_einsum==3.4.0
optree==0.14.0
packaging
pandas
parso
pexpect
pickleshare
pillow==11.1.0
platformdirs
plotly==6.0.0
prompt_toolkit
protobuf==5.29.3
psutil
ptyprocess
pure_eval
Pygments
pyparsing==3.2.1
python-dateutil
pytz
pyzmq
referencing==0.36.2
requests==2.32.3
rich==13.9.4
rpds-py==0.22.3
scikit-learn
scipy
seaborn==0.13.2
shap
six
slicer
stack_data
tensorboard==2.18.0
tensorboard-data-server==0.7.2
tensorflow==2.18.0
tensorflow-io-gcs-filesystem==0.37.1
termcolor==2.5.0
threadpoolctl
timeshap==1.0.4
toolz==1.0.0
tornado
tqdm
traitlets
typing_extensions
tzdata
urllib3==2.3.0
wcwidth
Werkzeug==3.1.3
widgetsnbextension==4.0.13
wrapt==1.17.2
zipp
